# Node.js/Frontend
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Python/Backend
backend/__pycache__/
backend/*.pyc

# VSCode/IDE
.vscode/
.idea/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env files (в любой папке)
.env
.env.*
**/.env
**/.env.*

# Model files and large binaries
backend/model/
*.pt
*.onnx
*.mp4
*.avi
*.mkv
*.webm
*.mov
*.h5
*.ckpt

# Outputs/uploads
backend/outputs/*
backend/uploads/*

# Images
*.jpg
*.jpeg
*.png
*.webp

!requirements.txt
!package-lock.json
!package.json

# Virtual Environments
backend/venv/
backend/env/
venv/
env/

# System
Thumbs.db